<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row " style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <div class="container text-center">
              <img src="../../../assets/h.png" alt="" height="100px" width="100px" >
            </div>

            <h2 class="text-center">
              Register here
            </h2>
            <!-- {{doctor | json}} -->
            <form #myForm="ngForm" (ngSubmit)="formSubmit()">

              <div class="form-group">
                <label for="name">Username</label>
                <input type="text" #username="ngModel" minlength="3" maxlength="25" [(ngModel)]="doctor.username"
                  name="username" class="form-control" id="username" aria-describedby="emailHelp"
                  placeholder="Enter Username" required>
                <div class="alert alert-danger" role="alert"
                  *ngIf="username.invalid && (username.dirty || username.touched)">
                  Username is a required field it shuold be as doctor(Number)
                </div>
              </div>

              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" #name="ngModel" minlength="3" maxlength="25" [(ngModel)]="doctor.fullName"
                  name="fullName" class="form-control" id="Username" aria-describedby="emailHelp"
                  placeholder="Enter FullName" required>
                <div class="alert alert-danger" role="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
                  Username is a required field
                </div>
                <div class="alert alert-danger" role="alert"
                  *ngIf="name.errors?.['minlength']||name.errors?.['maxlength']">
                  minlength {{name.errors?.['minlength']?.['requiredLength']}} is required and maxlength 25 is required
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" #email="ngModel" [(ngModel)]="doctor.email" name="email" class="form-control"
                  id="email" aria-describedby="emailHelp" placeholder="Enter email" required>

                <div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
                  Valid Email is a required field
                </div>

              </div>

              <div class="form-group">

                <label for="exampleInputEmail1">Speciality</label>

                <ul>
                  <li>
                    <div class="form-check">
                      <input required class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality"
                        type="radio" name="speciality" value="General Doctor" (change)="onChange($event)"
                        id="flexRadioDefault2" />
                      <label>General Doctor</label>
                    </div>
                  </li>

                  <li>
                    <div class="form-check">
                      <input class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality" type="radio"
                        name="speciality" value="Child Neurology expert" (change)="onChange($event)" id="flexRadioDefault2" />
                      <label>Child Neurology Expert</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality" type="radio"
                        name="speciality" value="Dental Care Expert" (change)="onChange($event)" id="flexRadioDefault2" />
                      <label>Dental Care Expert</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality" type="radio"
                        name="speciality" value="Eye specialist" (change)="onChange($event)" id="flexRadioDefault2" />
                      <label>Eye Specialist</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality" type="radio"
                        name="speciality" value="Cardioloty Expert" (change)="onChange($event)" id="flexRadioDefault2" />
                      <label>Cardioloty Expert</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality" type="radio"
                        name="speciality" value="Orthopedic Surgery" (change)="onChange($event)" id="flexRadioDefault2" />
                      <label>Orthopedic Surgery</label>
                    </div>
                  </li>
                </ul>

              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Phone Number</label>
                <input type="number" #phone="ngModel" [(ngModel)]="doctor.phone" name="phone" class="form-control"
                  id="exampleInputPassword1" placeholder="Phone number" required>
                <div class="alert alert-danger" role="alert" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                  Phone Number is a required field
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" #password="ngModel" [(ngModel)]="doctor.password" name="password"
                  class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                <div class="alert alert-danger" role="alert"
                  *ngIf="password.invalid && (password.dirty || password.touched)">
                  Password is a required field
                </div>
              </div>

              <div class="container text-center" style="margin-top: 10px;">
                <button [disabled]="!myForm.form.valid" type="submit" class="btn btn-primary">Register</button>
                <button style="margin-left: 20px;" type="button" class="btn btn-primary"
                  (click)="myForm.resetForm()">clear</button>
                <button [routerLink]="'/admin'" class="ml10" style="margin-left: 20px;" type="button"
                  class="btn btn-primary">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="form-group">
                <label for="exampleInputEmail1">Date Of Birth</label>
                <input type="date" #DOB="ngModel" 
                        [(ngModel)]="doctor.dob" 
                        name="dob" class="form-control"
                        id="exampleInputEmail1" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter dob" required>
                  <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="DOB.invalid && (DOB.dirty || DOB.touched)">
                  DOB is a required field
                </div>
              </div> -->

<!-- <div class="form-group">
                <label for="exampleInputEmail1">Marital Status</label>
                <ul>
                  <li>
                  <div class="form-check">
                    <input
                    class="form-check-input"
                    [(ngModel)]="doctor.maritalstatus"
                    type="radio"
                    name="maritalstatus"
                    value="married"
                    (change)="onChange($event)"
                    id="flexRadioDefault2"
                    />
                    <label>Married</label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <input
                    class="form-check-input"
                    #maritalstatus="ngModel"
                    [(ngModel)]="user.maritalstatus"
                    type="radio"
                    name="maritalstatus"
                    value="unmarried"
                    (change)="onChange($event)"
                    id="flexRadioDefault2"
                    />
                    <label>Unmarried</label>
                  </div>
                </li>
              </ul>

                  <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="maritalstatus.invalid && (maritalstatus.dirty || maritalstatus.touched)">
                  Maretial is a required field
                </div> 
              </div> -->

<!-- <div class="form-group">
                <label for="exampleInputEmail1"> Gender</label>
                  <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="Gender.invalid && (Gender.dirty || Gender.touched)">
                  Gender is a required field
                </div>  
                <ul>
                  <li>
                    <div class="form-check">
                      <input
                      class="form-check-input"
                      #Gender="ngModel" 
                      [(ngModel)]="user.gender"
                      type="radio"
                      name="gender"
                      value="male"
                      (change)="onChange($event)"
                      id="flexRadioDefault2"
                      />
                      <label >male</label>
                    </div>
                  </li>

                  <li>
                    <div class="form-check">
                      <input
                      class="form-check-input"
                      #Gender="ngModel" 
                      [(ngModel)]="user.gender"
                      type="radio"
                      name="gender"
                      value="female"
                      (change)="onChange($event)"
                      id="flexRadioDefault2"
                      />
                      <label >female</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input
                      class="form-check-input"
                      [(ngModel)]="user.gender"
                    id="flexRadioDefault2"
                      />
                      <label >other</label>
                    </div>
                  </li>
                </ul>

              </div>     #Gender="ngModel" 
                      type="radio"
                      name="gender"
                      value="other"
                      (change)="onChange($event)"
                   

              <div class="form-group">
                <label for="exampleInputEmail1"> Address</label>
                <input type="text" #Address="ngModel" 
                        [(ngModel)]="user.address" 
                        name="address" class="form-control"
                        id="exampleInputEmail1" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter address" required>
                  <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="Address.invalid && (Address.dirty || Address.touched)">
                  <Address></Address> Address is a required field
                </div>
              </div> -->
              
<!-- <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row " style="margin-top: 20px;">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
    <h1>Doctor Registration</h1>-->
<!-- {{doctor|json}} -->
<!-- <form #myForm="ngForm" (ngSubmit)="formSubmit()">
      <div class="form-group">
        <label> Doctor Username</label>
        <input required type="text" class="form-control" #username="ngModel" [(ngModel)]="doctor.username" name="username">
        <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="username.invalid && (username.dirty || username.touched)">
                  Username is a required field it shuold be as doctor(Number)
                </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input required type="password" class="form-control" #password="ngModel" [(ngModel)]="doctor.password" name="password">
        <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="password.invalid && (password.dirty || password.touched)">
                  password is a required field it shuold be as user(Number)
                </div>
      </div>
  
      <div class="form-group">
        <label>Doctor Name</label>
        <input required type="text" class="form-control" #fullName="ngModel" [(ngModel)]="doctor.fullName" name="fullName">
        <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                  FullName is required
                </div>
      </div>
  
      <div class="form-group">
        <label>Phone No</label>
        <input required type="tel" class="form-control" #phoneNo="ngModel" [(ngModel)]="doctor.phoneNo" name="phoneNo">
        <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)">
                  Phone Number is required
                </div>
      </div>
      <div class="form-group">
  
        <label for="exampleInputEmail1">speciality</label>
  
        <ul>
          <li>
            <div class="form-check">
              <input required class="form-check-input" #speciality="ngModel" [(ngModel)]="doctor.speciality" type="radio" name="speciality"
                value="General Surgery" (change)="onChange($event)" id="flexRadioDefault2" />
                
              <label>General Surgery</label>
            </div>
          </li>

          <li>
            <div class="form-check">
              <input class="form-check-input" #speciality="ngModel"  [(ngModel)]="doctor.speciality" type="radio"
                name="speciality" value="Child Neurology" (change)="onChange($event)" id="flexRadioDefault2" />
              <label>Child Neurology</label>
            </div>
          </li>
        </ul>
        </div>-->
<!-- <td>speciality</td>
         <td>
           <select>
             <option >Child Neurology</option>
             <option >Neurology</option>
             <option >General Surgery</option>
             <option >Psychiatry</option>
             <option >Orthopedic Surgery</option>
           </select>
         </td> -->

<!-- <div class="mb-3">
          <label>Available Timing</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="timePreference" value="Morning (9am-12pm)" #timing="ngModel"
              [(ngModel)]="doctor.timing" name="timing">
            <label class="form-check-label">Morning (9am-12pm)</label>
          </div>
  
  
          <div class="form-check">
            <input class="form-check-input" type="radio" name="timePreference" value="Evening (5pm-8pm)" #timing="ngModel"
              [(ngModel)]="doctor.timing" name="timing">
            <label class="form-check-label">Evening (5pm-8pm)</label>
          </div>
  
        </div>
        <button [disabled]="!myForm.form.valid" class="btn btn-primary" type="submit">Register</button>
         <button [routerLink]="'/admin'" class="ml10" style="margin-left: 20px;" type="button"
                                    class="btn btn-primary" >Back</button> 
  
    </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
   -->