.imageviewer-wrapper {
  display: block;
  flex-basis: 25%;
}
.imageviewer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  max-width: 400px;
}

.imageviewer-image {
  max-height: 40%;
  min-height: 270px;
  border-radius: 10px;
  max-width: 90%;
}

.imageviewer:hover {
  transform: scale(1.1);
}
