<!-- <h1>welcome to admin dashboard</h1> -->
<!-- this buitton will redirect to doctor registration page -->
<button [routerLink]="'/adddoctor'" style="margin-top: 50px; margin-left: 20px" type="button"
    class="btn btn-primary">ADD Doctor</button>
<button [routerLink]="'/doctorlist'" style="margin-top: 50px; margin-left: 20px;" type="button"
    class="btn btn-primary">View All Doctor</button>
<button [routerLink]="'/appointmentlistforadmin'" style="margin-top: 50px; margin-left: 20px;" type="button"
    class="btn btn-primary">View All Appointments</button>