<div class=" container-fluid page">
  <div class="col-md-10 offset-md-1">
  <!-- <div class=" page__box p-3 mt-2">Dashboard</div> -->
  <div class="page__content shadow p-3 position-relative">
    <div class="page__ content-data postion-absolute text-center">
      Registered Doctor Added Here!!

    </div>
    <div class="mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th>Doctor Username</th> -->
            <!-- <th>Password</th> -->
            <th>Doctor ID</th>
            <th>Doctor Name</th>
            <th>Phone No</th>
            <th>Speciality</th>
            <!-- <th>Timing</th> -->
            <!-- <th>Edit</th>
          <th>Delete</th> -->
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let doctor of doctorlist | paginate:{id:'listing_pagination',itemsPerPage:4,currentPage:page,totalItems:total}">
            <!-- <td>{{doctor.username}}</td> -->
            <!-- <td>{{doctor.password}}</td> -->
            <td>{{doctor.id}}</td>
            <td>{{doctor.fullName}}</td>
            <td>{{doctor.phone}}</td>
            <td>{{doctor.speciality}}</td>
            <!-- <td>{{doctor.timing}}</td> -->
            <!-- --<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="edit(doctor)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteDoctor(doctor)">Delete</button></td> -->
          </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="listing_pagination"  (pageChange)="page=$event">
       
        </pagination-controls>
      <button [routerLink]="'/admin'" class="ml10" style="margin-left: 20px;" type="button"
        class="btn btn-primary">Back</button>
    </div>
  </div>
  </div>
</div>